:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inactive {
  display: none;
  visibility: hidden;
}

.container {
  margin: 0 auto;
  /* padding: 0 20px; */
  /* max-width: 960px; */
  width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

header {
  background-color: rgb(224, 209, 191);
  border-bottom: 2px solid #000;
}

.header-content {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  margin-bottom: -6px;
  margin-left: -5px;
  width: 25%;
}

@media (max-width: 568px) {
  .logo {
    width: 40%;
  }
}

.contact-wrapper {
  display: flex;
  margin-bottom: -20px;
  z-index: 1;
}

.contact-btn {
  background-color: #66d9ff;
  border: 2px solid #000;
  box-shadow: 5px 5px 0 #000;
  padding: 20px 30px;
  transition-duration: 0.3s;
  transition-property: background;
  transition-timing-function: ease-in;
}

.contact-btn:hover {
  background-color: #2bcaff;
}

a {
  cursor: pointer;
}

p a {
  text-decoration: underline;
}

section {
  padding-top: 60px;
}

header .container,
section .container,
footer .container,
div.contact-content {
  max-width: 960px;
}

@media (max-width: 568px) {
  header .container {
    padding: 0 50px;
  }
  section .container,
  footer .container,
  div.contact-content {
    padding: 0 10px;
  }
}

@media (max-width: 980px) {
  header .container {
    padding: 0 30px;
  }

  section .container,
  footer .container,
  div.contact-content {
    padding: 0 10px;
  }
}

section:not(:last-of-type) .container {
  border-bottom: 3px solid rgb(251, 243, 234);
  padding-bottom: 60px;
}

p {
  color: #777;
  line-height: 1.5;
  font-size: 1.1em;
}

.main p {
  font-size: 1.8em;
}

.main p.bio {
  font-size: 1.1em;
}

h1 {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.25;
  /* margin-bottom: 30px; */
}

h2 {
  font-size: 1.8em;
}

.services .container {
  border-bottom: none !important;
}

.services h2 {
  font-weight: 700;
  margin-bottom: 40px;
}

.services-list {
  display: grid;
  grid-gap: 1em 2em;
  grid-template-columns: 1fr 1fr;
}

.services-item {
  grid-gap: 25px;
  display: grid;
  grid-template-columns: 70px 1fr;
}

h3 {
  font-size: 1.45em;
}

@media (max-width: 568px) {
  .services-list {
    gap: 1em 1em;
  }
  .services-item {
    grid-gap: 10px;
    grid-template-columns: 40px 1fr;
  }

  h3 {
    font-size: 1em;
  }

  .services-item p {
    font-size: 0.85em;
  }
}

.featured-quotes {
  background-color: #00131a;
}

.featured-quotes .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  gap: 5px;
}

.featured-quotes .container > div {
  padding: 8px;
}

.swiper {
  flex-grow: 4;
  align-self: auto;
}

.swiper-buttons {
  flex-grow: 0;
  flex-shrink: 0;
}

@media (max-width: 568px) {
  .featured-quotes .container {
    display: block;
  }
}

.swiper-buttons > button {
  margin: 20px;
  width: 40px;
  cursor: pointer;
}

.swiper-buttons > button:hover path {
  fill: #2bcaff;
  transition-duration: 0.2s;
  transition-property: fill;
  transition-timing-function: ease-in;
}

.swiper-button-next svg {
  position: relative;
  top: -1px;
}

.swiper-button-prev svg {
  transform: rotate(180deg);
}
blockquote {
  quotes: '“' '”' '‘' '’';
}

blockquote p::before {
  content: open-quote;
  color: #2bcaff;
}

blockquote p::after {
  content: close-quote;
  color: #2bcaff;
}

blockquote p {
  font-size: 30px;
  line-height: 1.3;
  color: #fff;
  /* max-width: 80%; */
  line-height: 1.5;
}

@media (max-width: 568px) {
  .swiper-buttons > button {
    margin: 5px;
    width: 25px;
    cursor: pointer;
  }

  blockquote p {
    font-size: 20px;
  }
}

blockquote footer {
  font-size: 20px;
  margin-top: 20px;
  color: rgb(110, 108, 102);
  background-color: #00131a;
}

.grid-flex-container {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  margin: -30px 0 30px -30px;
}

@media (max-width: 568px) {
  .grid-flex-container {
    flex-flow: column;
  }
}

.grid-flex-cell {
  flex: 1 1;
  padding: 30px 0 0 30px;
}

.contact-content h2 {
  margin-bottom: 40px;
  font-size: 3em;
}

.cf:after,
.cf:before {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

label {
  cursor: pointer;
  display: block;
  font-size: 0.8em;
  margin-bottom: 5px;
  font-weight: 800;
}

input {
  line-height: normal;
}

.form-input {
  -webkit-appearance: none;
  border: 1px solid #cdd3d5;
  border-radius: 3px;
  display: block;
  padding: 10px;
  width: 100%;
  outline: 0;
  margin-bottom: 15px;
}

.form-input:required:focus {
  background-color: #fff9f2;
  border: 1px solid #fec57c;
}

textarea {
  min-height: 90px;
  resize: none;
  overflow: auto;
}

form .button {
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  -webkit-appearance: none;
  appearance: none;
  background-color: #00b0eb;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  overflow: visible;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: none;
  transition-delay: 0;
  transition-duration: 0.3s;
  transition-property: background, border-color;
  transition-timing-function: ease-in;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form .button:hover {
  background-color: #009ed3;
}

footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

footer .copyright {
  float: right;
}

/* 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
